:root.theme-dark {
  /* images */
  --page-bg-image: url(/images/cover-image-dark.png);
  
  /* title */
  --title-color: #DB00FF;

  /* text-color */
  --header-title-text: #000028;
  --section-title-text-color: #000028;
  --text-base-color: #F1B2CE;
  --title-base-color: #FF0070;  
  --shadow-color: #FF0070;
  --link-color: #F1B2CE;

  /* background-color */
  --title-base-bg: #FF0070;
  --page-bg-color: #000028;

  /* button */
  --border-button: #FF0070;
  --button-border-bottom: #FF0070;

  /* decorated-zone */
  --decorative-corners-color: #FF0070;
  
  /* display */
  --display: block;
}

.decor-rec {
  display: var(--display);
}

