:root.theme-dark {
    /* bacground-image */
  --page-bg-image: url(../images/cover-image-dark.png);

  /* bacground-color */
  --title-base-bg: #FF0070;
  --page-bg-color: #000028;

  /* title-focus */
  --title-color: #DB00FF;
  
  /* title-shadow */
  --title-shadow-color: #FF0070;
  --title-shadow: 4px 4px 0 var(--title-shadow-color);

  /* title */
  --header-title-text: #000028;
  --title-base-color: #FF0070;

  /* button */
  --border-button: #FF0070;
  --button-border-bottom: #FF0070;
  --button-hover: rgba(255, 0, 112, 0.4);

  /* decorated-zone */
  --decorative-corners-color: #FF0070;

  /* text-color */
  --section-title-text-color: #000028;
  --text-base-color: #F1B2CE;

  /* links-text */
  --link-shadow-color: #FF0070;
  --link-shadow: 2px 2px 0 var(--link-shadow-color);

  /* display */
  --display: flex;
}

