:root.theme-dark {
    /* bacground-image */
  --page-bg-image: url(/images/cover-image-dark.png);

  /* bacground-color */
  --title-base-bg: #FF0070;
  --page-bg-color: #000028;
;

  /* title-focus */
  --title-color: #DB00FF;
  
  /* shadow-color */
  --shadow-color: #FF0070;

  /* title */
  --header-title-text: #000028;
  --title-base-color: #FF0070;

  /* button */
  --border-button: #FF0070;
  --button-border-bottom: #FF0070;

  /* decorated-zone */
  --decorative-corners-color: #FF0070;

  /* text-color */
  --section-title-text-color: #000028;
  --text-base-color: #F1B2CE;

  /* links-text-color */
  --link-color: #F1B2CE;

  /* display */
  --display: block;
}

