:root.theme-light {
    /* bacground-image */
  --page-bg-image: url(/images/cover-image-light.png);

  /* bacground-color */
  --page-bg-color: #FFF1F7;
  --title-base-bg: #FF8DCB;

  /* title-focus */
  --title-color: #FFC2E6;
  
  /* title-shadow */
  --title-shadow-color: #FF8DCB;
  --title-shadow: 4px 4px 0 var(--title-shadow-color);

  /* title */
  --title-base-color: #353430;
  --header-title-text: #353430;

  /* button */
  --border-button: #353430;
  --button-border-bottom: #353430;

  /* decorated-zone */
  --decorative-corners-color: #353430;

  /* text-color */
  --text-base-color: #353430;
  --section-title-text-color: #353430;

  /* links-text */
  --link-shadow-color: #FF8DCB;
  --link-shadow: 2px 2px 0 var(--link-shadow-color);

  /* display */
  --display: none;
}

.decor-rec {
  display: var(--display);
}

@media (prefers-color-scheme: light) {
  :root {
    /* bacground-image */
  --page-bg-image: url(/images/cover-image-light.png);

  /* bacground-color */
  --page-bg-color: #FFF1F7;
  --title-base-bg: #FF8DCB;

  /* title-focus */
  --title-color: #FFC2E6;
  
  /* title-shadow */
  --title-shadow-color: #FF8DCB;
  --title-shadow: 4px 4px 0 var(--title-shadow-color);

  /* title */
  --title-base-color: #353430;
  --header-title-text: #353430;

  /* button */
  --border-button: #353430;
  --button-border-bottom: #353430;

  /* decorated-zone */
  --decorative-corners-color: #353430;

  /* text-color */
  --text-base-color: #353430;
  --section-title-text-color: #353430;

  /* links-text */
  --link-shadow-color: #FF8DCB;
  --link-shadow: 2px 2px 0 var(--link-shadow-color);

  /* display */
  --display: none;
  }

  .decor-rec {
    display: var(--display);
  }
}