.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-page);
  background-image: var(--page-bg-image);
  background-color: var(--page-bg-color);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: var(--font-f-base, sans-serif), sans-serif;
  font-weight: var(--font-w-base);
  font-size: var(--text-base-size);
  overflow: auto;
}

.header {
  display: grid;
  block-size: 100vh;
  min-block-size: 768px;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  padding: var(--padding);
  inline-size: 100%;
  position: relative;
}

.header__theme-menu {
  grid-row: 1;
  justify-self: center;
  align-self: self-start;
}

.header__theme-menu-list {
  display: flex;
  gap: 10px;
}
.header__theme-menu-button {
  padding: 0 13px;
  font-size: var(--text-base-size);
  background-color: transparent;
  color: var(--title-base-color);
  border: 1px solid transparent;
  text-transform: lowercase;
  cursor: pointer;
}

.header__theme-menu-button_active {
  border: 1px solid var(--border-button);
  pointer-events: none;
  padding-bottom: 2px;
}

.header__theme-menu-button:hover {
  outline: 1px solid rgba(255, 0, 112, 0.4);
}

.header__theme-menu-button:focus {
  outline: none;
  border-bottom: 1px solid var(--button-border-bottom);
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid currentColor;
}

.decor-rec {
  display: var(--display);
  align-items: center;
  gap: 10px;
}

.rec {
  margin-right: 30px;
  color: var(--decorative-corners-color);
  text-transform: uppercase;
  font-size: var(--text-base-size);
  position: absolute;
  top: 20px;
  right: 0;
}

.rec::after {
  content: "";
  display: block;
  width: 9px;
  height: 9px;
  background-color: var(--decorative-corners-color);
  border-radius: 50%;
  box-shadow: 0 0 2px 2px rgba(255, 0, 112, 1);
}

.decorated-zone::after {
  content: "";
  display: block;
  width: 25px;
  height: 25px;
  border-block-start: solid 1px var(--decorative-corners-color);
  border-inline-end: solid 1px var(--decorative-corners-color);
  border-left: none;
  border-bottom: none;
  position: absolute;
  top: 20px;
  right: 20px;
}

.decorated-zone::before {
  content: "";
  display: block;
  width: 25px;
  height: 25px;
  border-block-end: solid 1px var(--decorative-corners-color);
  border-inline-start: solid 1px var(--decorative-corners-color);
  border-right: none;
  border-top: none;
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.title {
  grid-row: 2;
  justify-self: start;
  align-self: center;
  margin-inline-start: -20px;
  line-height: 83%;
  font-size: var(--title-header-footer);
  color: var(--title-color);
  text-shadow: var(--title-shadow);
}

.title-decor {
  font-size: inherit;
  color: var(--section-title-text-color);
  font-weight: var(--font-w-bold);
  line-height: var(--lh-base);
  background-color: var(--title-base-bg);
}

.header-title {
  grid-row: 3;
  inline-size: 50%;
  justify-self: end;
  align-self: center;
  background-color: var(--title-base-bg);
}

.description {
  
  color: var(--section-title-text-color);
  font-weight: var(--font-w-bold);
  line-height: var(--lh-base);
}

.main {
  display: flex;
  flex-direction: column;
  gap: var(--gap-main);
  inline-size: 100%;
}

.section {
  display: grid;
  grid-template-columns: var(--grid-t-col-2);
  gap: var(--gap-paragraf);
  padding-inline-start: var(--padding);
  padding-inline-end: var(--padding);
}

.section-symptoms-title {
  grid-column: 1;
  align-self: self-start;
}

.list {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  gap: var(--gap-paragraf);
}

.card {
  display: flex;
  flex-direction: column;
  gap: var(--gap-card);
}

.section-title {
  font-size: inherit;
  background-color: var(--title-bg-paragraf);
  color: var(--title-base-color);
  font-weight: var(--font-w-bold);
  line-height: var(--lh-base);
}

.text-decor {
  color: var(--text-base-color);
  line-height: var(--lh-base);
}

.link {
  color: var(--text-base-color);
  text-decoration: none;
  text-shadow: var(--link-shadow);
}

.link:hover {
  border-bottom: 1px solid var(--text-base-color);
  text-shadow: var(--link-shadow);
}

.link:focus {
  outline: none;
}

.link:focus-visible {
  outline: 1px solid var(--text-base-color);
  text-shadow: var(--link-shadow);
}



.section-reasons {
  display: grid;
  grid-template-columns: unset;
  grid-template-rows: min-content 1fr;
  gap: var(--gap-paragraf);
  padding-inline-start: var(--padding);
  padding-inline-end: var(--padding);
}

.section-reasons-title {
  grid-row: 1;
  inline-size: 32%;
}

.list-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.sections {
  display: grid;
  grid-template-columns: 32% 1fr;
  gap: var(--gap-paragraf);
  padding-inline-start: var(--padding);
  padding-inline-end: var(--padding);
}

.section-methods-title {
  grid-column: 1;
  background-color: var(--title-bg-paragraf);
}

.section-methods-list-title {
  block-size: min-content;
}

.section-methods__title-decor {
  font-weight: var(--font-w-base);
}

.section-card {
  display: flex;
  flex-direction: column;
  gap: var(--gap-paragraf);
}
.card-action {
  grid-column: 2;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-inline-start: var(--padding);
  padding-inline-end: var(--padding);
  gap: var(--gap-paragraf);
}

.paragraf-gallery-title {
  grid-column: span 3;
  height: min-content;
  margin-block-end: 0px;
}

.images {
  display: block;
  block-size: 100%;
  inline-size: 100%;
  object-fit: cover;
}

.images-sunset {
  grid-column: span 2;
}

.images-ice-cream {
  grid-column: 3;
  grid-row: span 2;
}

.images-tape {
  grid-row: span 2;
}

.images-street {
  grid-column: span 2;
}

.footer {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  block-size: 100vh;
  min-block-size: 768px;
  position: relative;
  inline-size: 100%;
}

.footer-title {
  display: block;
  line-height: 83%;
  font-size: var(--title-header-footer);
  color: var(--title-color);
  font-weight: var(--font-w-bold);
  text-shadow: var(--title-shadow);
}

@media (max-width: 769px) {
  .header {
    min-block-size: var(--block-size);
  }

  .header__theme-menu {
    justify-self: end;
    align-self: center;
  }

  .header__theme-menu-list {
    flex-direction: column;
  }

  .section-reasons {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--gap-paragraf);
    padding-inline-start: var(--padding);
    padding-inline-end: var(--padding);
  }

  .list-grid {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .footer {
    min-block-size: var(--block-size);
  }
}

@media (min-width: 378px) and (max-width:500px) {
  .header-title {
    hyphens: auto;
  }
}

@media (max-height: 668px) {
  .header {
    height: auto;
  }

  .section-title {
    hyphens: auto;
  }
}

@media (max-width: 376px) {
  .page {
    gap: 40px;
  }

  .header {
    --block-size: 668px;
    --padding: 10px;
    padding: var(--padding);
    block-size: var(--block-size);
  }

  .title {
    margin-inline-start: 0px;
  }

  .header-title {
    inline-size: 100%;
  }

  .rec {
    margin-right: 20px;
    gap: 10px;
    top: 10px;
    right: 0;
  }

  .rec::after {
    width: 9px;
    height: 9px;
  }

  .decorated-zone::after {
    top: 10px;
    right: 10px;
  }

  .decorated-zone::before {
    bottom: 10px;
    left: 10px;
  }

  .main {
    gap: 50px;
  }

  .section {
    --padding: 10px;
    display: flex;
    flex-direction: column;
    padding-inline-start: var(--padding);
    padding-inline-end: var(--padding);
  }

  .list {
    display: flex;
    flex-direction: column;
  }

  .section-reasons-title {
    inline-size: 100%;
  }

  .gallery {
    --padding: 10px;
    display: flex;
    flex-direction: column;
    padding-inline-start: var(--padding);
    padding-inline-end: var(--padding);
    gap: 10px;
  }

  .footer {
    --block-size: 668px;
    block-size: var(--block-size);
  }
}
