:root {
  /* font-family */
  --font-f-base: IBM Plex Mono;

  /* font-size */
  --text-base-size: 18px;
  --title-header-footer: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);

  /* font-weight */
  --font-w-base: 400;

  /* line-height */
  --lh-base: 1.3;

  /* bacground-image */
  --page-bg-image: url(/images/cover-image-dark.png);

  /* title-focus */
  --title-color: #DB00FF;

  /* shadow-color */
  --shadow-color: #FF0070;

  /* title */
  --header-title-text: #000028;
  --title-base-color: #FF0070;

  /* text-color */
  --section-title-text-color: #000028;
  --text-base-color: #F1B2CE;

  /* links-text-color */
  --link-color: #FF0070;

  /* background-color */
  --title-base-bg: #FF0070;
  --page-bg-color: #000028;

  /* button */
  --border-button: #FF0070;
  --button-border-bottom: #FF0070;

  /* decorated-zone */
  --decorative-corners-color: #FF0070;

  /* block-size */
  --block-size: 1024px;

  /* margins */
  --padding: 20px;
  --gap-main: 80px;
  --gap-page: 60px;
  --gap-card: 10px;
  --gap-paragraf: 20px;

  /* display */
  --display: block;
}
