:root {
  /* font-family */
  --font-f-base: IBM Plex Mono;

  /* font-size */
  --text-base-size: 18px;
  --title-header-footer: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);

  /* font-weight */
  --font-w-base: 400;
  --font-w-bold: 700;

  /* line-height */
  --lh-base: 1.3;

  /* bacground-image */
  --page-bg-image: url(../images/cover-image-dark.png);

  /* title-focus */
  --title-color: #DB00FF;

  /* title-shadow */
  --title-shadow-color: #FF0070;
  --title-shadow: 4px 4px 0 var(--title-shadow-color);

  /* title */
  --header-title-text: #000028;
  --title-base-color: #FF0070;

  /* text-color */
  --section-title-text-color: #000028;
  --text-base-color: #F1B2CE;

  /* links-text */
  --link-shadow-color: #FF0070;
  --link-shadow: 2px 2px 0 var(--link-shadow-color);

  /* background-color */
  --title-base-bg: #FF0070;
  --page-bg-color: #000028;
  --title-bg-paragraf: transparent;

  /* button */
  --border-button: #FF0070;
  --button-border-bottom: #FF0070;

  /* decorated-zone */
  --decorative-corners-color: #FF0070;

  /* block-size */
  --block-size-header: 1024px;
  --block-size-footer: 768px;

  /* margins */
  --padding: 20px;
  --gap-main: 80px;
  --gap-page: 60px;
  --gap-card: 10px;
  --gap-paragraf: 20px;

  /* display */
  --display: flex;

  /* grid */
  --grid-t-col-2: 32% 1fr;
}
